    <div class="slider sliderv2">
      <div class="container">
        <div class="row">
            <div class="slider-single-item">
              <div class="movie-item">
                <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="title-in">
                      
                      <div class="titlex">{{movie.title}}</div>
                        <div class="cate">
                          <span class="blue genres"> {{movie.genres}}</span>
                        </div>
                      <div class="social-btn">
                        <div class="hover-bnt">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="mv-img-2">
                        <a href="#">
                          <img src="{{movie?.poster}}" onerror="this.src='assets/images/default-poster.jpg';">
                        </a>  
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
    <div class="movie-items  full-width">
      <div class="row">
        <div class="col-md-12">
          <div class="card-deck">
              <app-movie-recommendation [movieId]="movie.id"></app-movie-recommendation>
            </div>
        </div>
      </div>
    </div>